/* *{
    margin : 0 ;
    padding :0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('./component/Assets/Landscape-Color.jpg') no-repeat;
}

code{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */